@import "../variables";

#browser {
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
  background-color: var(--theme-background);

  #appcontent {
    border-radius: var(--rounding);
    overflow: hidden;
    box-shadow: 0 0 var(--spacing) 1px var(--theme-shadow);
  }
}

:root[sizemode="fullscreen"] {
  #browser {
    padding: 0;

    #appcontent {
      border-radius: 0;
    }
  }
}
