@import "../variables";

#titlebar {
  display: none;
}

#navigator-toolbox {
  --toolbar-bgcolor: #{$color-background};

  // basic style and closed by default
  height: 0;
  border: none !important;
  padding: calc($spacing / 2) 0;
  background-color: $color-background !important;
  transition: height 0.35s ease;

  // increases the area to open the navigator
  &::after {
    content: "";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 2 * $spacing;
    transition: height 0.5s ease;
  }

  // hide content when closed
  & > * {
    opacity: 0;
    transition: opacity 0.35s ease-out;
  }

  // open on hover or focus within
  &:is(:hover, :focus-within) {
    height: 52px;

    & > * {
      opacity: 100%;
    }

    &::after {
      height: calc($spacing / 2);
    }
  }
}

$navbar-height: #{52px - $spacing};

#nav-bar {
  height: $navbar-height;
  box-shadow: none !important;
}

#urlbar {
  --urlbar-toolbar-height: #{$navbar-height} !important;
}
