@import "../variables";

#commonDialogWindow {
  background-color: $color-dark-2 !important;
  padding: 4px;
}

#commonDialog {
  background-color: $color-dark-3;
  border-radius: 4px;
}

#titleContainer span.titleIcon {
  --in-content-page-background: transparent;
}
