@import "../variables";

#commonDialogWindow {
  background-color: var(--theme-background) !important;
  padding: 4px;
}

#commonDialog {
  background-color: var(--theme-surface);
  border-radius: 4px;
}

#titleContainer span.titleIcon {
  --in-content-page-background: transparent;
}
