@import "../variables";

#statuspanel-label {
  margin: calc($spacing / 2) !important;
  padding: 4px 8px !important;
  border: 2px solid $color-background-contrast !important;
  border-radius: 100px !important;
  background-color: $color-background !important;
}
