@import "../variables";

#statuspanel-label {
  margin: $spacing !important;
  padding: 4px 8px !important;
  border: 2px solid $color-light-1 !important;
  border-radius: 100px !important;
  background-color: $color-dark-3 !important;
  color: $color-light-6 !important;
}
