$color-dark-1: #0b0d11;
$color-dark-2: #0e1116;
$color-dark-3: #12151a;
$color-dark-4: #15171b;
$color-dark-5: #1e2024;
$color-dark-6: #212428;

$color-light-1: #6e7073;
$color-light-2: #78797c;
$color-light-3: #b6b7b9;
$color-light-4: #bbbcbd;
$color-light-5: #d8d9f4;
$color-light-6: #ffffff;

$theme: (
  --theme-background: $color-dark-2,
  --theme-surface: $color-dark-3,
  --theme-search-bar: $color-dark-5,
  --theme-shadow: $color-dark-1,
  --theme-text: $color-light-4,
  --theme-text-link-indicator: $color-light-6,
  --theme-border: $color-light-1,
);

$--spacing: 8px;
$--rounding: 12px;
