:root {
  --color-browser-background: #0e1116;
  --color-browser-background-secondary: #12151a;
  --measure: 12px;
}

/* HEADER BAR */
#navigator-toolbox {
  --toolbar-bgcolor: var(--color-browser-background);
  padding: calc(var(--measure) / 2) 0;
  border: none !important;
  background-color: var(--color-browser-background) !important;
  height: 0;
  transition: height 0.35s ease;
}

#navigator-toolbox::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(2 * var(--measure));
}

#navigator-toolbox:is(:hover, :focus-within) {
  height: 52px;
}

#navigator-toolbox > * {
  opacity: 0;
  transition: opacity 0.35s ease-out;
}

#navigator-toolbox:is(:hover, :focus-within) > * {
  opacity: 100%;
}

#nav-bar {
  box-shadow: none !important;
}

#titlebar {
  display: none;
}

/* BROWSER */
#browser {
  padding: 0 var(--measure) var(--measure) var(--measure);
  background-color: var(--color-browser-background);
}

/* BROWSER -> SIDEBAR */
#sidebar-box {
  background-color: transparent !important;
}

#sidebar-header {
  border-bottom: none !important;
}

#sidebar-splitter {
  background: transparent !important;
  width: var(--measure) !important;
  border: none !important;
}

/* BROWSER -> CONTENT */
#appcontent {
  border-radius: var(--measure);
  overflow: hidden;
}

:root[sizemode="fullscreen"] #browser {
  padding: 0;
}

:root[sizemode="fullscreen"] #appcontent {
  border-radius: 0;
}
